@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    color: #ffffff;
}

body{
    background-color: #111;
}

.btn{
    display: inline-block;
    text-decoration: none;
    padding: 10px 25px;
    background: #ff523b;
    font-weight: bold;
    border-radius: 6px;
    border: 1px solid #ff523b;
    transition: all 0.3s ease;
}

.btn:hover{
    background: #1a1a1a;
}

.navbar{
    /* height: 90px; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #222;
    padding: 25px 5%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 100;
}

.logo a{
    font-size: 40px;
    font-weight: bold;
    text-decoration: none;
}

.logo a span{
    color: #ff523b;
}

.search-box{
    position: relative;
    width: 40%;
}

.input{
    width: 100%;
    padding: 8px 50px 8px 12px;
    background-color: rgba(0, 0, 0, 0.15);
    border: 3px solid transparent;
    border-radius: 99px;
    font-weight: 500;
    font-size: 15px;
    transition: 0.25s border;
    outline: none;
}

.input:focus{
    border: 3px solid rgba(0, 0, 0, 0.15);
}

.input::placeholder{
    color: rgba(255, 255, 255, 0.75);
}


.searchIcon{
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    background:none;
    border: none;
    display: flex;
    cursor: pointer;
}

.navLinks{
    display: flex;
    list-style: none;
    gap: 20px;
}

.navLinks a{
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
    transition: color 0.3s;
}

.navLinks a:hover{
    color: #ff523b;
}

.cart-icon{
    position: relative;
    font-size: 24px;
    cursor: pointer;
}

#cartCount{
    position: absolute;
    top: -8%;
    right: -10%;
    background-color: #ff523b;
    color: #fff;
    font-size: 12px;
    padding: 2px 6px;
    border-radius: 50%;
}

.menuBar{
    font-size: 30px;
    display: none;
}


/* home section start*/

.heroContainer{
    background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),url("../image/home-section2.png") center/cover no-repeat;
    min-height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hero-content h1{
    font-size: 40px;
    margin-bottom: 10px;
}

.hero-content p{
    font-size: 18px;
    margin-bottom: 20px;
    color: #ccc;
}

/* .categories section start */

.categories{
    padding: 40px 5%;
    text-align: center;
}

.categories h2{
    font-size: 30px;
    margin-bottom: 30px;
}

.categorie-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    gap: 20px;
}

.categorie-grid .categorie-card{
    background:#1a1a1a;
    padding: 30px 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
}

.categorie-grid .categorie-card:hover{
    background: #ff523b;
    transform: translateY(-5px);
}

.categorie-grid .categorie-card i{
    height: 96px;
    width: 96px;
    line-height: 96px;
    border: 1px solid #ff523b;
    border-radius: 50%;
    background: #ff523b;
    color: #ffffff;
    font-size: 40px;
    margin-bottom: 15px;
}
.categorie-grid .categorie-card:hover i{
    color: #ffffff;
}


.categorie-grid .categorie-card h3{
    font-size: 18px;
    color: #eee;
}

/* Products section start */

.product-section{
    padding: 40px 5%;
}

.product-section h2{
    font-size: 30px;
    text-align: center;
    margin-bottom: 30px;
    color: #eee;
}

.product-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 25px;
}

.product-grid .product-card{
    background: #1a1a1a;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s, box-shadow 0.3s;
}

.product-grid .product-card:hover{
    transform: translateY(-5%);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.product-grid .product-card .productImage img{
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.productInfo{
    padding: 15px;
}

.productTag{
    font-size: 15px;
    text-transform: uppercase;
    color: #888;
    letter-spacing: 1px;
}

.productInfo h3{
    font-size: 16px;
    margin: 5px 0;
    color: #777;
}

.rating{
    margin-bottom: 12px;
    font-size: 13px;
    color: #ffc107;
}

.productPrice{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price{
    font-weight: bold;
    font-size: 18px;
    color: #ff523b;
}

.add-to-cartBtn{
    background-color: #333;
    color: #ffffff;
    border: none;
    padding: 6px 12px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 13px;
    transition: background 0.3s;
}

.add-to-cartBtn:hover{
    background-color: #ff523b;
}













/* media query start */

@media (max-width:768px) {

    .menuBar{
        display: flex;
        cursor: pointer;
    }

    .navLinks{
        display: none;
    }
    
}